body {

    background-image: url("https://media.istockphoto.com/vectors/syringe-seamless-pattern-background-cartoon-illustration-hospital-vector-id883297076?s=2048x2048");
    background-attachment: fixed;
  }
#d1{
    height: 320px;
    width: 320px;
}
